body {
    font-family: Arial, sans-serif;
    margin: 20px;
   }

/*#### ==> NavBar ####*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
   }
li {
    float: left;
    }
li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
    }
li a:active {
    background-color: #333;
}

/*#### NavBar <== ####*/

/*#### ==> Contact Page ####*/

form {
    max-width: 400px;
    margin: auto;
   }
label {
    display: block;
    margin: 10px 0 5px;
   }
input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
   }
button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
   }
button:hover {
    background-color: #0056b3;
   }

textarea {
    resize: none; /* Disables the resize handle */
   }

/*#### Contact Page <==  ####*/

/*#### ==>  About Page ####*/
.container_about {
    
    height: 25rem;
    width: auto;
    margin: 5rem 5rem;
    
}

.container_about_position{
    display: grid;
    grid-auto-flow: column;
    
    grid-template-columns: 1.5fr 1fr;
    column-gap: 7%;
    width: 100%;
    height: 100%;
    
   
    
}


.img_about {
    min-width: 5rem;
    width: auto;
    height: 100%;
    background-color: red;
    max-height: 100%;

}
.txt_about {
    min-width: 20px;
    max-width: 100%;
    min-height: 20px;
    
}

  




